<h2>test app</h2>
<div>Entrez une liste d'espèces</div>
<br />
<a href="https://github.com/steph-del/tb-tsb-lib/blob/master/src/app/test-app/test-app.component.html">test-app.component.html</a><br />
<a href="https://github.com/steph-del/tb-tsb-lib/blob/master/src/app/test-app/test-app.component.ts">test-app.component.ts</a><br /><br /><br />

<tb-tsb-search-box
(selectedData)="selectedData($event)"
[updateData]="_updateData"
(updatedData)="updatedData($event)"
placeholder="Ajouter une espèce"
editingPlaceholder="Modifier l'espèce"
defaultRepository="bdtfx"></tb-tsb-search-box>

<br /><br />

<table>
  <tr>
    <th>ID (occurence)</th>
    <th>Référentiel</th>
    <th>ID nomenclatural</th>
    <th>ID taxonomique</th>
    <th>Nom</th>
    <th>Auteur</th>
  </tr>
  <tr *ngFor="let taxon of taxons">
    <td>{{ taxon.occurenceId }}</td>
    <td>{{ taxon.repository }}</td>
    <td>{{ taxon.idNomen }}</td>
    <td>{{ taxon.idTaxo }}</td>
    <td>{{ taxon.name }}</td>
    <td>{{ taxon.author }}</td>
    <td (click)="updateData(taxon)" style="cursor: pointer;">editer</td>
  </tr>
</table>
<br />
<span><i>Voir le log de la console pour les événements émis.</i></span>
