<h2>test app</h2>
<div>Entrez une liste d'espèces</div>
<br />
<a href="https://github.com/steph-del/tb-tsb-lib/blob/master/src/app/test-app/test-app.component.html">test-app.component.html</a><br />
<a href="https://github.com/steph-del/tb-tsb-lib/blob/master/src/app/test-app/test-app.component.ts">test-app.component.ts</a><br /><br /><br />

<tb-tsb-search-box
(selectedData)="selectedData($event)"
placeholder="Ajouter une espèce"
defaultRepository="bdtfx"></tb-tsb-search-box>

<br /><br />

<table>
  <tr>
    <th>Référentiel</th>
    <th>ID nomenclatural</th>
    <th>ID taxonomique</th>
    <th>Nom</th>
    <th>Auteur</th>
  </tr>
  <tr *ngFor="let taxon of taxons">
    <td>{{ taxon.repository }}</td>
    <td>{{ taxon.idNomen }}</td>
    <td>{{ taxon.idTaxo }}</td>
    <td>{{ taxon.name }}</td>
    <td>{{ taxon.author }}</td>
  </tr>
</table>
