<h2>test UI</h2>

<h3>1.</h3>
<div class="test">
  <textarea class="code" disabled> <tb-tsb-search-box></tb-tsb-search-box> </textarea>
  <tb-tsb-search-box></tb-tsb-search-box>
</div>

<h3>2.</h3>
<div class="test">
  <textarea class="code" disabled> <tb-tsb-search-box [showRepositoryDescription]=true></tb-tsb-search-box> </textarea>
  <tb-tsb-search-box [showRepositoryDescription]=true></tb-tsb-search-box>
</div>

<h3>2.</h3>
<div class="test">
  <textarea class="code" disabled>
  <tb-tsb-search-box [showRepositoryInput]=false></tb-tsb-search-box>
  </textarea>
  <tb-tsb-search-box [showRepositoryInput]=false></tb-tsb-search-box>
</div>

<h3>3.</h3>
<div class="test">
  <textarea class="code" disabled>
  <tb-tsb-search-box level="idiotaxon" defaultRepository="bdtfx"></tb-tsb-search-box>
  </textarea>
  <tb-tsb-search-box level="idiotaxon" defaultRepository="bdtfx"></tb-tsb-search-box>
</div>

<h3>4.</h3>
<div class="test">
  <textarea class="code" disabled>
  <tb-tsb-search-box level="synusy" fixedRepository="baseveg"></tb-tsb-search-box>
  </textarea>
  <tb-tsb-search-box level="synusy" fixedRepository="baseveg"></tb-tsb-search-box>
</div>

<h3>5.</h3>
<div class="test">
  <textarea class="code" disabled>
  <tb-tsb-search-box level="synusy" fixedRepository="baseveg" [showRepositoryInput]=false></tb-tsb-search-box>
  </textarea>
  <tb-tsb-search-box level="synusy" fixedRepository="baseveg" [showRepositoryInput]=false></tb-tsb-search-box>
</div>

<h3>7.</h3>
<div class="test">
  <textarea class="code" disabled>
  <tb-tsb-search-box level="synusy" fixedRepository="bdtfx"></tb-tsb-search-box>
  </textarea>
  <tb-tsb-search-box level="synusy" fixedRepository="bdtfx"></tb-tsb-search-box>
</div>
